<% @page_title = "Create User"%>
<div class="center page-header">
  <h2>Create User</h2>
</div>
<%= form_for @admin_user, html: { class: 'form-horizontal', role: 'form' } do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Create User",class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
<% end %>
